apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: loadbalancer-apiserver
  namespace: cloudflare-loadbalancer
spec:
  replicas: {{ groups['masters'] | length }}
  selector:
    matchLabels:
      app: loadbalancer-apiserver
  minReadySeconds: 5
  strategy:
    rollingUpdate:
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: loadbalancer-apiserver
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node.kubernetes.io/master
                operator: In
                values:
                - master
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - loadbalancer-apiserver
            topologyKey: "kubernetes.io/hostname"
      terminationGracePeriodSeconds: 150
      initContainers:
        - name: ip-detection
          image: byrnedo/alpine-curl:0.1.7
          command:
            - sh
            - -c
            - "curl -4 --fail ifconfig.co > /informations/NODE_IP"
          volumeMounts:
            - mountPath: /informations
              name: informations
      containers:
        - name: flarectl
          image: utopiaplanitia/flarectl:1.2.0
          command:
            - sh
            - -c
            - "NODE_IP=`cat /informations/NODE_IP` add-node-apiserver"
          lifecycle:
            preStop:
              exec:
                command:
                  - sh
                  - -c
                  - "NODE_IP=`cat /informations/NODE_IP` remove-node"
          env:
            - name: CF_API_KEY
              valueFrom:
                secretKeyRef:
                  name: cloudflare-dns
                  key: key
            - name: CF_API_EMAIL
              valueFrom:
                secretKeyRef:
                  name: cloudflare-dns
                  key: email
            - name: CF_ZONE
              valueFrom:
                secretKeyRef:
                  name: cloudflare-dns
                  key: zone
            - name: CF_SUBDOMAIN
              valueFrom:
                secretKeyRef:
                  name: cloudflare-dns
                  key: apiserver
          resources:
            requests:
              memory: 50Mi
              cpu: 50m
            limits:
              memory: 50Mi
              cpu: 50m
          volumeMounts:
            - mountPath: /informations
              name: informations
      volumes:
        - name: informations
          emptyDir: {}

