apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-dns
  namespace: cloudflare-loadbalancer
type: Opaque
data:
  key: "{{ cloudflare.key | b64encode }}"
  email:  "{{ cloudflare.email | b64encode }}"
  zone:  "{{ cloudflare.domain | b64encode }}"
  ingress:  "{{ cloudflare.load_balancer.ingress | b64encode }}"
  apiserver:  "{{ cloudflare.load_balancer.apiserver | b64encode }}"
